<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<style>
  body{
    font-family: times, serif;
  }
  .navbar-brand{
    font-size:38px;
    color:black;
    font-weight:bolder;
    text-shadow: 1px 1px 2px yellow;
  }
  .nav-item a{
    font-size:18px;
    font-weight:bold;
    color:black;
  }

.hero{
  background-image: url("/userHome.jpg");
  background-size:cover;
  height:400px;

}
.hero h2{
  text-align: center;
  padding-top: 50px;
  color:black;
  font-size: 30px;
  font-weight: bolder;
}
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 10px;
    text-align: center;
    font-family: arial;
    height:400px;
  }


  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card a:hover {
    opacity: 0.7;
  }
  .content
  {
    margin: 10px;
  }
  .content h2{
    text-align: center;
    color:yellow;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
  }

  .dot{
    color:yellow;
  }


  .listCards h2{
    text-align: center;
  }
  footer{
    background-color: black;
    color:white;
    font-size: 20px;
    text-align: center;
    height:100px;
    padding-top: 30px;
  }
.btn{
  color:white;
  margin: 5px;
  font-family: times, serif;
  font-weight: bolder;
}
    .card-title{
      font-family: times, serif;
    }
    .name{
      color:yellow;
      text-transform: uppercase;
      text-shadow: 2px 2px 3px black;
    }

</style>
<body>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">All About Kids<span class="dot">...</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item active"><a href="/home" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/home/about" class="nav-link">About</a></li>
      <li class="nav-item"><a href="/posts/category/food" class="nav-link">Foods</a></li>
      <li class="nav-item"><a href="/posts/category/fashion" class="nav-link">Fashion</a></li>
      <li class="nav-item"><a href="/posts/category/books" class="nav-link">Books</a></li>
      <li class="nav-item"><a href="/posts/category/toys" class="nav-link">Toys</a></li>
      <li class="nav-item"><a href="/home/contact" class="nav-link">Contact</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">

      <% if user_signed_in? %>
        <li class="button1"><a href="/posts/new" class="btn btn-success">Add Post</a></li>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete,class:'nav-link')  %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to('Login', new_user_session_path,class:'nav-link')  %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to('Edit Account Info', edit_user_registration_path,class:'nav-link') %></li>
      <% else %>
        <li class="nav-item">
          <%= link_to('Register', new_user_registration_path,class:'nav-link')  %>
        </li>
      <% end %>

    </ul>
  </div>
</nav>
<div class="hero">
  <h2>Welcome <span class="name"><%= current_user.email %></span></h2>
</div>
<div class="content">
<h2>List of All Your Posts</h2>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 listCards">

    <% @list_of_posts.each do |post| %>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="card " >
          <img class="card-img-top" src="<%=post.image %>" alt="Card image" height="250px" width="100%">
          <div class="card-body">
            <h5 class="card-title"><%=post.title.truncate_words(10) %>..</h5>
            <a href="/posts/<%= post.id %>" class="btn btn-primary ">Read more..</a>
            <a href="/posts/<%= post.id %>/edit" class="btn btn-success ">update</a>
            <%= link_to 'Destroy', post,:data => {:confirm => "Do you want to delete?",
                                                  :method => "delete"} , class: 'btn btn-danger ' %>


          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>


</body>
</html>